/* Reset de estilos para garantir consistência em diferentes navegadores */
body,
h1,
h2,
p,
ul,
ol,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}



body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  min-height: 100vh;
}

header {
  background-color: #333;
  padding: 1rem;
  text-align: center;
}

main {
  background-color: #f4f4f4;
  color: black;
}


header h1 {
  font-size: 24px;
}

header a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}

footer p {
  margin-bottom: 0;
}

#form {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#form button {
  background-color: #0074d9;
  border: none;
  padding: 8px;
  color: white;
  cursor: pointer;
}

#task-title {
  width: 14rem;
  padding: 1rem;
  font-size: 16px;
}

#task-description {
  width: 14rem;
  resize: vertical;
  padding: 1rem;
  font-size: 16px;
}

#task-list li {
  text-align: left;
}

#task-list {
  padding: 1rem;
  list-style: none;
}

#task-list li {
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;

}

#task-list h3 {
  padding: 1rem;
  margin-top: 1px;
  margin-bottom: 0.5rem; 
}

#task-list p {
  padding: 1rem;
  white-space: pre-wrap;
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0; 
}


